<div id="page-home" class="page-content container">

    <ol class="breadcrumb row">
        <li><a href="/#/">home</a></li>
    </ol>

    <div class="components" cell-layout-container>

        <div class="component" cell-layout-cell>
            <div class="component-content">
                <h3>Cell-Layout</h3>
                <p>
                    Organises cells neatly together,
                    like css float, but works with
                    cells having different heights
                </p>
                <p><a href="/#/cell-layout/">more &hellip;</a></p>
            </div>
        </div>

    </div>

</div>