<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings"
                  type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Antix.Html.HtmlSettings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <Antix.Html.HtmlSettings>
      <setting name="HtmlAttributeQuote" serializeAs="String">
        <value>"</value>
      </setting>
      <setting name="HtmlNonContainers" serializeAs="String">
        <value>area,audio,base,basefont,br,col,command,embed,frame,hr,img,input,isindex,keygen,link,meta,param,source,track,video,wbr</value>
      </setting>
      <setting name="HtmlInlineElements" serializeAs="String">
        <value>a,em,strong,q,cite,dfn,i,b,sup,sub,small,code,mark,del,s,ins,abbr,span,br</value>
      </setting>
      <setting name="HtmlTextOnlyContainers" serializeAs="String">
        <value>script</value>
      </setting>
      <setting name="HtmlDeclarations" serializeAs="String">
        <value>!doctype,!--|--</value>
      </setting>
    </Antix.Html.HtmlSettings>
  </applicationSettings>
</configuration>