<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="staticData">
      <section name="phoneSettings" type="Antix.Data.Static.PhoneConfigurationSection, Antix.Data.Static" requirePermission="false" allowLocation="true" allowDefinition="Everywhere" />
    </sectionGroup>
  </configSections>

</configuration>